body {
    background-image: url("images/georgia-vagim-381292-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}   

#title {
  margin: 3%;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 250%;
    text-align: center;
    letter-spacing: 3px;

}

form#rangeSlider {
    margin-top: 25px;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    
  }
  
  input {
    width: 50%;
    
    margin: 0 auto;
  }
  
output {
    
    margin: 25px auto;
    font-size:2em;
  }

.dropdown {
  margin: 25px auto;
  text-align: 0 auto;
}

  #formGroupExampleInput {
    width: 60%;
  }